.layout-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  .sidebar {
    position: fixed;
    width: 60px;
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    background: #424242;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    > .identify {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #777;
      cursor: pointer;
      color: #adff2f;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      > .logo {
        font-size: 2rem;
      }
      > .name {
        font-weight: bold;
      }
    }
    > .list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      > .item {
        position: relative;
        width: 100%;
        height: 46px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 998;
        > .icon {
          color: #e7e7e7;
          height: 100%;
          width: 100%;
          font-size: 1.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          &:hover {
            background: #e7e7e7;
            color: #909090;
          }
        }
      }
    }
  }
}

.layout-main {
  position: fixed;
  top: 10px;
  left: 80px;
  min-height: calc(100vh - 20px);
  width: calc(100% - 90px);
  .title {
    width: 100%;
    background: #424242;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #424242;
  }
}
