<div class="sidebar">
  <div class="identify" routerLink="/">
    <div class="logo">
      <i class="fas fa-couch"></i>
    </div>

    <div class="name">Name</div>
  </div>

  <div class="list">
    <div class="item" routerLink="/relatorios/usuarios">
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
    </div>

    <div class="item" routerLink="/cadastros/usuario">
      <div class="icon">
        <i class="fas fa-user-plus"></i>
      </div>
    </div>
  </div>
</div>
